!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Maha - Personal CV/Resume Template | Home 1
    / Required meta tags
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "Tommy Joa Personal CV.", name: "description"}/
    %meta{content: "creative, cv, designer,  online cv, online resume, powerful portfolio, professional, professional resume, responsive, resume, vcard ", name: "keywords"}/
    %meta{content: "Md. Siful Islam", name: "developer"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    / FAV AND ICONS
    %link{href: "assets/images/favicon.ico", rel: "shortcut icon"}/
    %link{href: "assets/images/apple-icon.png", rel: "shortcut icon"}/
    %link{href: "assets/images/apple-icon-72x72.png", rel: "shortcut icon", sizes: "72x72"}/
    %link{href: "assets/images/apple-icon-114x114.png", rel: "shortcut icon", sizes: "114x114"}/
    / Google Font
    %link{href: "http://fonts.googleapis.com/css?family=Roboto", rel: "stylesheet"}/
    / Font Awesome
    %link{href: "assets/icons/font-awesome-4.7.0/css/font-awesome.min.css", rel: "stylesheet"}/
    / Bootstrap CSS
    %link{href: "assets/plugins/css/bootstrap.min.css", rel: "stylesheet"}/
    / Animate CSS
    %link{href: "assets/plugins/css/animate.css", rel: "stylesheet"}/
    / Owl Carousel CSS
    %link{href: "assets/plugins/css/owl.css", rel: "stylesheet"}/
    / Fancybox
    %link{href: "assets/plugins/css/jquery.fancybox.min.css", rel: "stylesheet"}/
    / Custom CSS
    %link{href: "assets/css/styles.css", rel: "stylesheet"}/
    %link{href: "assets/css/responsive.css", rel: "stylesheet"}/
    / Colors
    %link{href: "assets/css/colors/blue.css", rel: "alternate stylesheet", title: "blue"}/
    %link{href: "assets/css/colors/defauld.css", rel: "stylesheet", title: "defauld"}/
    %link{href: "assets/css/colors/green.css", rel: "alternate stylesheet", title: "green"}/
    %link{href: "assets/css/colors/blue-munsell.css", rel: "alternate stylesheet", title: "blue-munsell"}/
    %link{href: "assets/css/colors/orange.css", rel: "alternate stylesheet", title: "orange"}/
    %link{href: "assets/css/colors/purple.css", rel: "alternate stylesheet", title: "purple"}/
    %link{href: "assets/css/colors/slate.css", rel: "alternate stylesheet", title: "slate"}/
    %link{href: "assets/css/colors/yellow.css", rel: "alternate stylesheet", title: "yellow"}/
  %body.dark-vertion.black-bg
    / Start Loader
    .section-loader
      .loader
        %div
        %div
    / End Loader
    /
      \===================
      NAVIGATION
      \===================
    %header#mh-header.black-bg.mh-header.mh-fixed-nav.nav-scroll.mh-xs-mobile-nav.wow.fadeInUp
      .overlay
      .container
        .row
          %nav.navbar.navbar-expand-lg.mh-nav.nav-btn
            %h2 Tommy Joa CV
            / %img.img-fluid{alt: "", src: "assets/images/fedalon_logo.png"}/
              
            %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
              %span.navbar-toggler-icon.icon
            #navbarSupportedContent.collapse.navbar-collapse
              %ul.navbar-nav.mr-0.ml-auto
                %li.nav-item.active
                  %a.nav-link{href: "#mh-home"} Home
                %li.nav-item
                  %a.nav-link{href: "#mh-about"} About
                %li.nav-item
                  %a.nav-link{href: "#mh-skills"} Skills
                %li.nav-item
                  %a.nav-link{href: "#mh-experience"} Experiences
                %li.nav-item
                  %a.nav-link{href: "#mh-portfolio"} Portfolio
                / %li.nav-item
                /   %a.nav-link{href: "#mh-pricing"} Pricing
                / %li.nav-item
                /   %a.nav-link{href: "#mh-blog"} Blog
                %li.nav-item
                  %a.nav-link{href: "#mh-contact"} Contact
    /
      \===================
      HOME
      \===================
    %section#mh-home.mh-home
      .home-ovimg
        .container
          .row.xs-column-reverse.section-separator.vertical-middle-content.home-padding
            .col-sm-6
              .mh-header-info
                .mh-promo.wow.fadeInUp{"data-wow-delay" => "0.1s", "data-wow-duration" => "0.8s"}
                  %span Hello I'm
                %h2.wow.fadeInUp{"data-wow-delay" => "0.2s", "data-wow-duration" => "0.8s"} Tommy Joa
                %h4.wow.fadeInUp{"data-wow-delay" => "0.3s", "data-wow-duration" => "0.8s"} Software Developer
                %ul
                  %li.wow.fadeInUp{"data-wow-delay" => "0.4s", "data-wow-duration" => "0.8s"}
                    %i.fa.fa-envelope
                    %a{href: "mailto:tommywj5@gmail.com", target: "_blank"} tommywj5@gmail.com
                  %li.wow.fadeInUp{"data-wow-delay" => "0.5s", "data-wow-duration" => "0.8s"}
                    %i.fa.fa-phone 
                    +507 6483 6002
                  %li.wow.fadeInUp{"data-wow-delay" => "0.6s", "data-wow-duration" => "0.8s"}
                    %i.fa.fa-map-marker
                    %address Panama, Panama City
                %ul.social-icon.wow.fadeInUp{"data-wow-delay" => "0.7s", "data-wow-duration" => "0.8s"}
                  %li
                    %a{href: "https://www.linkedin.com/in/tommy-joa-174859169/", target: "_blank"}
                      %i.fa.fa-linkedin
                  / %li
                  /   %a{href: "", target: "_blank"}
                  /     %i.fa.fa-twitter
                  %li
                    %a{href: "https://github.com/tommyjoawu", target: "_blank"}
                      %i.fa.fa-github
                  / %li
                  /   %a{href: "", target: "_blank"}
                  /     %i.fa.fa-dribbble
            .col-sm-6
              .hero-img.wow.fadeInUp{"data-wow-delay" => "0.6s", "data-wow-duration" => "0.8s"}
                .img-border
                  %img.img-fluid{alt: "", src: "/assets/me_crop.png"}/

    /
      \==================
      ABOU
      \=================
    %section#mh-about.mh-about
      .container
        .row.section-separator
          .col-sm-12.col-md-6
            .mh-about-img.shadow-2.wow.fadeInUp{"data-wow-delay" => "0.4s", "data-wow-duration" => "0.8s"}
              / %img.img-fluid{alt: "", src: "programming1.jpg"}/
              = image_tag "programming1.jpg", class: "img-fluid"
                    
          .col-sm-12.col-md-6
            .mh-about-inner
              %h2.wow.fadeInUp{"data-wow-delay" => "0.1s", "data-wow-duration" => "0.8s"} About Me
              %p.wow.fadeInUp{"data-wow-delay" => "0.2s", "data-wow-duration" => "0.8s"}
                Fullstack Software Developer adept in bringing forth expertise in design, installation, testing and maintenance of software systems. Able to effectively self-manage during independent projects, as well as collaborate as part of a productive team.
              .mh-about-tag.wow.fadeInUp{"data-wow-delay" => "0.3s", "data-wow-duration" => "0.8s"}
                %ul
                  %li
                    %span RAILS
                  %li
                    %span HTML
                  %li
                    %span CSS
                  %li
                    %span SQL
                  %li
                    %span POSTGRESQL
                  %li
                    %span SNOWFLAKE
                  %li
                    %span HEROKU
                  %li
                    %span JAVASCRIPT
                  %li
                    %span AJAX
                  %li
                    %span GIT
              %a.btn.btn-fill.wow.fadeInUp{"data-wow-delay" => "0.4s", "data-wow-duration" => "0.8s", href: "https://www.linkedin.com/in/tommy-joa-174859169/overlay/1635518682490/single-media-viewer/?profileId=ACoAACgrwqgBtnl11DfasMavcALvgLqZBJDWDQs", target: "_blank"}
                Downlaod CV
                %i.fa.fa-download
    /
      \===================
      SERVICE
      \===================
    %section.mh-service
      .container
        .row.section-separator
          .col-sm-12.text-center.section-title.wow.fadeInUp{"data-wow-delay" => "0.2s", "data-wow-duration" => "0.8s"}
            %h3 What I do
          / .col-sm-4
          /   .mh-service-item.shadow-1.dark-bg.wow.fadeInUp{"data-wow-delay" => "0.3s", "data-wow-duration" => "0.8s"}
          /     %i.fa.fa-bullseye.purple-color
          /     %h3 UI Design
          /     %p
          /       Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          /       sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          /       magna aliquam erat volutpat.
          .col-sm-4
            .mh-service-item.shadow-1.dark-bg.wow.fadeInUp{"data-wow-delay" => "0.5s", "data-wow-duration" => "0.8s"}
              %i.fa.fa-code.iron-color
              %h3 Web Development
              %p
                I design, create and maintain engaging websites
          .col-sm-4
            .mh-service-item.shadow-1.dark-bg.wow.fadeInUp{"data-wow-delay" => "0.7s", "data-wow-duration" => "0.8s"}
              %i.fa.fa-object-ungroup.sky-color
              %h3 Reports
              %p
                I create reports based on what the clients need using SQL
          .col-sm-4
            .mh-service-item.shadow-1.dark-bg.wow.fadeInUp{"data-wow-delay" => "0.7s", "data-wow-duration" => "0.8s"}
              %i.fa.fa-object-ungroup.sky-color
              %h3 Data Validation
              %p
                I validate the data so it follows business rules
    /
      \===================
      SKILLS
      \===================
    %section#mh-skills.mh-skills
      .container
        .row.section-separator
          .section-title.text-center.col-sm-12
            / <h2>Skills</h2>
          .col-sm-12.col-md-6
            .mh-skills-inner
              .mh-professional-skill.wow.fadeInUp{"data-wow-delay" => "0.3s", "data-wow-duration" => "0.8s"}
                %h3 Technical Skills
                .each-skills
                  .candidatos
                    .parcial
                      .info
                        .nome Ruby on Rails
                        .percentagem-num 90%
                      .progressBar
                        .percentagem{style: "width: 90%;"}
                  .candidatos
                    .parcial
                      .info
                        .nome SQL
                        .percentagem-num 90%
                      .progressBar
                        .percentagem{style: "width: 90%;"}
                  .candidatos
                    .parcial
                      .info
                        .nome Javascript
                        .percentagem-num 80%
                      .progressBar
                        .percentagem{style: "width: 80%;"}
                  .candidatos
                    .parcial
                      .info
                        .nome HTML
                        .percentagem-num 70%
                      .progressBar
                        .percentagem{style: "width: 70%;"}
                  .candidatos
                    .parcial
                      .info
                        .nome CSS
                        .percentagem-num 70%
                      .progressBar
                        .percentagem{style: "width: 70%;"}
                  
          .col-sm-12.col-md-6
            .mh-professional-skills.wow.fadeInUp{"data-wow-delay" => "0.5s", "data-wow-duration" => "0.8s"}
              %h3 Professional Skills
              %ul.mh-professional-progress
                %li
                  .mh-progress.mh-progress-circle{"data-progress" => "95"}
                  .pr-skill-name Communication
                %li
                  .mh-progress.mh-progress-circle{"data-progress" => "95"}
                  .pr-skill-name Team Work
                %li
                  .mh-progress.mh-progress-circle{"data-progress" => "90"}
                  .pr-skill-name Problem Solving
                %li
                  .mh-progress.mh-progress-circle{"data-progress" => "70"}
                  .pr-skill-name Creativity
    /
      \===================
      EXPERIENCES
      \===================
    %section#mh-experience.mh-experince
      .bolor-overlay
        .container
          .row.section-separator
            / .col-sm-12.col-md-6
            /   .mh-education
            /     %h3.wow.fadeInUp{"data-wow-delay" => "0.2s", "data-wow-duration" => "0.8s"} Education
            /     .mh-education-deatils
            /       / Education Institutes
            /       .mh-education-item.dark-bg.wow.fadeInUp{"data-wow-delay" => "0.3s", "data-wow-duration" => "0.8s"}
            /         %h4
            /           Art &amp; Multimedia From
            /           %a{href: ""} Oxford University
            /         .mh-eduyear 2005-2008
            /         %p
            /           It is a long established fact that a reader will be distracted by the readable content of a
            /           page when looking at its layout. The point of using  Lorem Ipsum
            /       / Education Institutes
            /       .mh-education-item.dark-bg.wow.fadeInUp{"data-wow-delay" => "0.5s", "data-wow-duration" => "0.8s"}
            /         %h4
            /           Art &amp; Multimedia From
            /           %a{href: ""} Oxford University
            /         .mh-eduyear 2005-2008
            /         %p
            /           It is a long established fact that a reader will be distracted by the readable content of a
            /           page when looking at its layout. The point of using  Lorem Ipsum
            /       / Education Institutes
            /       .mh-education-item.dark-bg.wow.fadeInUp{"data-wow-delay" => "0.6s", "data-wow-duration" => "0.8s"}
            /         %h4
            /           Art &amp; Multimedia From
            /           %a{href: ""} Oxford University
            /         .mh-eduyear 2005-2008
            /         %p
            /           It is a long established fact that a reader will be distracted by the readable content of a
            /           page when looking at its layout. The point of using L orem Ipsum
            .col-sm-12.col-md-12
              .mh-work
                %h3 Work Experience
                .mh-experience-deatils
                  .mh-work-item.dark-bg.wow.fadeInUp{"data-wow-delay" => "0.4s", "data-wow-duration" => "0.8s"}
                    %h4
                      Software Developer
                      %a Number 8
                    .mh-eduyear 2022 - Current
                    %span Responsibility :
                    %ul.work-responsibility
                      %li
                        %i.fa.fa-circle>
                        Data Validation
                      %li
                        %i.fa.fa-circle>
                        Data fixing
                      %li
                        %i.fa.fa-circle>
                        Bug fixing
                  .mh-work-item.dark-bg.wow.fadeInUp{"data-wow-delay" => "0.6s", "data-wow-duration" => "0.8s"}
                    %h4
                      Superintendence of the Stock Market of Panama
                      %a SISCOTEL
                    .mh-eduyear 2019 - 2022
                    %span Responsibility :
                    %ul.work-responsibility
                      %li
                        %i.fa.fa-circle>
                        Close communication with clients
                      %li
                        %i.fa.fa-circle>
                        Feature Development
                      %li
                        %i.fa.fa-circle>
                        Maintenance
                      %li
                        %i.fa.fa-circle>
                        Bug fixing
                      %li
                        %i.fa.fa-circle>
                        Data Validations
                  .mh-work-item.dark-bg.wow.fadeInUp{"data-wow-delay" => "0.8s", "data-wow-duration" => "0.8s"}
                    %h4
                      Bank - Bancamiga Venezuela
                      %a SISCOTEL
                    .mh-eduyear 2019 - 2022
                    %span Responsibility :
                    %ul.work-responsibility
                      %li
                        %i.fa.fa-circle>
                        Close communication with clients
                      %li
                        %i.fa.fa-circle>
                        Feature Development
                      %li
                        %i.fa.fa-circle>
                        Maintenance
                      %li
                        %i.fa.fa-circle>
                        Bug fixing
                  
                  .mh-work-item.dark-bg.wow.fadeInUp{"data-wow-delay" => "1s", "data-wow-duration" => "0.8s"}
                    %h4
                      Bank - Banesco Venezuela / Panama / Dominican Republic
                      %a SISCOTEL
                    .mh-eduyear 2019 - 2022
                    %span Responsibility :
                    %ul.work-responsibility
                      %li
                        %i.fa.fa-circle>
                        Feature Development
                      %li
                        %i.fa.fa-circle>
                        Maintenance
                      %li
                        %i.fa.fa-circle>
                        Bug fixing

                  .mh-work-item.dark-bg.wow.fadeInUp{"data-wow-delay" => "1.2s", "data-wow-duration" => "0.8s"}
                    %h4
                      Health Benefits
                      %a SISCOTEL
                    .mh-eduyear 2019 - 2022
                    %span Responsibility :
                    %ul.work-responsibility
                      %li
                        %i.fa.fa-circle>
                        Feature Development
                      %li
                        %i.fa.fa-circle>
                        Maintenance
                      %li
                        %i.fa.fa-circle>
                        Bug fixing
                        
    /
      \===================
      PORTFOLIO
      \===================
    %section#mh-portfolio.mh-portfolio
      .container
        .row.section-separator
          .section-title.col-sm-12.wow.fadeInUp{"data-wow-delay" => "0.1s", "data-wow-duration" => "0.8s"}
            %h3 Recent Portfolio
          .part.col-sm-12
            / #filter-button.portfolio-nav.col-sm-12
            /   %ul
            /     %li.current.wow.fadeInUp{"data-filter" => "*", "data-wow-delay" => "0.1s", "data-wow-duration" => "0.8s"}
            /       %span All Categories
            /     %li.wow.fadeInUp{"data-filter" => ".user-interface", "data-wow-delay" => "0.2s", "data-wow-duration" => "0.8s"}
            /       %span Web Design
            /     %li.wow.fadeInUp{"data-filter" => ".branding", "data-wow-delay" => "0.3s", "data-wow-duration" => "0.8s"}
            /       %span Branding
            /     %li.wow.fadeInUp{"data-filter" => ".mockup", "data-wow-delay" => "0.4s", "data-wow-duration" => "0.8s"}
            /       %span Mockups
            /     %li.wow.fadeInUp{"data-filter" => ".ui", "data-wow-delay" => "0.5s", "data-wow-duration" => "0.8s"}
            /       %span Photography
            #project-gallery.mh-project-gallery.col-sm-12.wow.fadeInUp{"data-wow-delay" => "0.5s", "data-wow-duration" => "0.8s"}
              .portfolioContainer.row
                .grid-item.col-md-4.col-sm-6.col-xs-12.user-interface
                  %figure
                    / %img{alt: "img04", src: "assets/images/spoti-recs-logo.png"}/
                    = image_tag "spoti-recs-logo.png"

                    %figcaption.fig-caption
                      %i.fa.fa-search
                      %h5.title Spoti-Recs
                      %span.sub-title Hobby
                      %a{"data-fancybox" => "", "data-src" => "#mh"}
                / .grid-item.col-md-4.col-sm-6.col-xs-12.ui.mockup
                /   %figure
                /     %img{alt: "img04", src: "assets/images/portfolio/g2.png"}/
                /     %figcaption.fig-caption
                /       %i.fa.fa-search
                /       %h5.title Creative Design
                /       %span.sub-title Photograpy
                /       %a{"data-fancybox" => "", "data-src" => "#mh", href: "assets/images/portfolio/g2.png"}
                / .grid-item.col-md-4.col-sm-6.col-xs-12.user-interface
                /   %figure
                /     %img{alt: "img04", src: "assets/images/portfolio/g3.png"}/
                /     %figcaption.fig-caption
                /       %i.fa.fa-search
                /       %h5.title Creative Design
                /       %span.sub-title Photograpy
                /       %a{"data-fancybox" => "", "data-src" => "#mh", href: "assets/images/portfolio/g3.png"}
                / .grid-item.col-md-4.col-sm-6.col-xs-12.branding
                /   %figure
                /     %img{alt: "img04", src: "assets/images/portfolio/g5.png"}/
                /     %figcaption.fig-caption
                /       %i.fa.fa-search
                /       %h5.title Creative Design
                /       %span.sub-title Photograpy
                /       %a{"data-fancybox" => "", "data-src" => "#mh", href: "assets/images/portfolio/g5.png"}
                / .grid-item.col-md-4.col-sm-6.col-xs-12.user-interface
                /   %figure
                /     %img{alt: "img04", src: "assets/images/portfolio/g4.png"}/
                /     %figcaption.fig-caption
                /       %i.fa.fa-search
                /       %h5.title Creative Design
                /       %span.sub-title Photograpy
                /       %a{"data-fancybox" => "", "data-src" => "#mh", href: "assets/images/portfolio/g4.png"}
                / .grid-item.col-md-4.col-sm-6.col-xs-12.branding
                /   %figure
                /     %img{alt: "img04", src: "assets/images/portfolio/g6.png"}/
                /     %figcaption.fig-caption
                /       %i.fa.fa-search
                /       %h5.title Creative Design
                /       %span.sub-title Photograpy
                /       %a{"data-fancybox" => "", "data-src" => "#mh", href: "assets/images/portfolio/g6.png"}
                / .grid-item.col-md-4.col-sm-6.col-xs-12.branding
                /   %figure
                /     %img{alt: "img04", src: "assets/images/portfolio/g8.png"}/
                /     %figcaption.fig-caption
                /       %i.fa.fa-search
                /       %h5.title Creative Design
                /       %span.sub-title Photograpy
                /       %a{"data-fancybox" => "", "data-src" => "#mh", href: "assets/images/portfolio/g8.png"}
                / .grid-item.col-md-4.col-sm-6.col-xs-12.ui
                /   %figure
                /     %img{alt: "img04", src: "assets/images/portfolio/g9.png"}/
                /     %figcaption.fig-caption
                /       %i.fa.fa-search
                /       %h5.title Creative Design
                /       %span.sub-title Photograpy
                /       %a{"data-fancybox" => "", "data-src" => "#mh", href: "assets/images/portfolio/g9.png"}
                / .grid-item.col-md-4.col-sm-6.col-xs-12.branding
                /   %figure
                /     %img{alt: "img04", src: "assets/images/portfolio/g7.jpg"}/
                /     %figcaption.fig-caption
                /       %i.fa.fa-search
                /       %h5.title Creative Design
                /       %span.sub-title Photograpy
                /       %a{"data-fancybox" => "gallery", href: "assets/images/portfolio/g7.jpg"}
              / End: .grid .project-gallery
            / End: .grid .project-gallery
          / End: .part
        / End: .row
      #mh.mh-portfolio-modal
        .container
          .row.mh-portfolio-modal-inner
            .col-sm-5
              %h2 SPOTI-RECS
              %p
                A hobby application where I use API's from Spotify to get recommendations for new types of music
              %p
                It's divided into two sections, the first one being a filter section with categories for music and then the second section being a list of random songs that fit the category of music selected
              .mh-about-tag
                %ul
                  %li
                    %span html
                  %li
                    %span css
                  %li
                    %span rails
                  %li
                    %span postgres
                  %li
                    %span Javascript
              %a.btn.btn-fill{href: ""} Live Demo
            .col-sm-7
              .mh-portfolio-modal-img
                %img.img-fluid{alt: "", src: "assets/images/pr-0.jif"}/
                %p
                / %img.img-fluid{alt: "", src: "assets/images/pr-1.jif"}/
                / %p All variations are organized separately so you can use / customize the template very easily.
    /
      \===================
      PRICING
      \===================
    / %section#mh-pricing.mh-pricing
    /   %div
    /     .container
    /       .row.section-separator
    /         .col-sm-12.section-title{"data-wow-delay" => "0.2s", "data-wow-duration" => "0.8s"}
    /           %h3 Pricing Table
    /         .col-sm-12.col-md-4
    /           .mh-pricing.dark-bg.shadow-2.wow.fadeInUp{"data-wow-delay" => "0.3s", "data-wow-duration" => "0.8s"}
    /             %i.fa.fa-calendar
    /             %h4 Full-time work
    /             %p I am available for full time
    /             %h5 $1500
    /             %ul
    /               %li Web Development
    /               %li Advetising
    /               %li Game Development
    /               %li Music Writing
    /             %a.btn.btn-fill{href: ""} Hire Me
    /         .col-sm-12.col-md-4
    /           .mh-pricing.dark-bg.shadow-2.wow.fadeInUp{"data-wow-delay" => "0.5s", "data-wow-duration" => "0.8s"}
    /             %i.fa.fa-file
    /             %h4 Fixed Price Project
    /             %p I am available for fixed roles
    /             %h5 $500
    /             %ul
    /               %li Web Development
    /               %li Advetising
    /               %li Game Development
    /               %li Music Writing
    /             %a.btn.btn-fill{href: ""} Hire Me
    /         .col-sm-12.col-md-4
    /           .mh-pricing.dark-bg.shadow-2.wow.fadeInUp{"data-wow-delay" => "0.7s", "data-wow-duration" => "0.8s"}
    /             %i.fa.fa-hourglass
    /             %h4 Hourley work
    /             %p I am available for Hourley projets
    /             %h5 $50
    /             %ul
    /               %li Web Development
    /               %li Advetising
    /               %li Game Development
    /               %li Music Writing
    /             %a.btn.btn-fill{href: ""} Hire Me
    /
      \===================
      BLOG
      \===================
    / %section#mh-blog.mh-blog
    /   .container
    /     .row.section-separator
    /       .col-sm-12.section-title.wow.fadeInUp{"data-wow-delay" => "0.2s", "data-wow-duration" => "0.8s"}
    /         %h3 Featured Posts
    /       .col-sm-12.col-md-4
    /         .mh-blog-item.dark-bg.wow.fadeInUp{"data-wow-delay" => "0.3s", "data-wow-duration" => "0.8s"}
    /           %img.img-fluid{alt: "", src: "assets/images/b-3.png"}/
    /           .blog-inner
    /             %h2
    /               %a{href: "blog-single.html"} A life without the daily traffic jams
    /             .mh-blog-post-info
    /               %ul
    /                 %li
    /                   %strong Post On
    /                   %a{href: ""} 24.11.19
    /                 %li
    /                   %strong By
    /                   %a{href: ""} ThemeSpiders
    /             %p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
    /             %a{href: "blog-single.html"} Read More
    /       .col-sm-12.col-md-4
    /         .mh-blog-item.dark-bg.wow.fadeInUp{"data-wow-delay" => "0.5s", "data-wow-duration" => "0.8s"}
    /           %img.img-fluid{alt: "", src: "assets/images/b-2.png"}/
    /           .blog-inner
    /             %h2
    /               %a{href: "blog-single.html"} Proportion are what’s really needed
    /             .mh-blog-post-info
    /               %ul
    /                 %li
    /                   %strong Post On
    /                   %a{href: ""} 24.11.19
    /                 %li
    /                   %strong By
    /                   %a{href: ""} ThemeSpiders
    /             %p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
    /             %a{href: "blog-single.html"} Read More
    /       .col-sm-12.col-md-4
    /         .mh-blog-item.dark-bg.wow.fadeInUp{"data-wow-delay" => "0.7s", "data-wow-duration" => "0.8s"}
    /           %img.img-fluid{alt: "", src: "assets/images/b-1.png"}/
    /           .blog-inner
    /             %h2
    /               %a{href: "blog-single.html"} Mounts of paper work to remember the way
    /             .mh-blog-post-info
    /               %ul
    /                 %li
    /                   %strong Post On
    /                   %a{href: ""} 24.11.19
    /                 %li
    /                   %strong By
    /                   %a{href: ""} ThemeSpiders
    /             %p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
    /             %a{href: "blog-single.html"} Read More
    /
      \===================
      TESTIMONIALS
      \===================
    / %section#mh-testimonial.mh-testimonial
    /   .home-v-img
    /     .container
    /       .row.section-separator
    /         .col-sm-12.section-title.wow.fadeInUp{"data-wow-delay" => "0.2s", "data-wow-duration" => "0.8s"}
    /           %h3 Client Reviews
    /         #mh-client-review.col-sm-12.wow.fadeInUp{"data-wow-delay" => "0.3s", "data-wow-duration" => "0.8s"}
    /           .each-client-item
    /             .mh-client-item.dark-bg.black-shadow-1
    /               %img.img-fluid{alt: "", src: "assets/images/c-1.png"}/
    /               %p
    /                 Absolute wonderful ! I am completely
    /                 blown away.The very best.I was amazed
    /                 at the quality
    /               %h4 John Mike
    /               %span CEO, Author.Inc
    /           .each-client-item
    /             .mh-client-item.dark-bg.black-shadow-1
    /               %img.img-fluid{alt: "", src: "assets/images/c-1.png"}/
    /               %p
    /                 Absolute wonderful ! I am completely
    /                 blown away.The very best.I was amazed
    /                 at the quality
    /               %h4 John Mike
    /               %span CEO, Author.Inc
    /           .each-client-item
    /             .mh-client-item.dark-bg.black-shadow-1
    /               %img.img-fluid{alt: "", src: "assets/images/c-1.png"}/
    /               %p
    /                 Absolute wonderful ! I am completely
    /                 blown away.The very best.I was amazed
    /                 at the quality
    /               %h4 John Mike
    /               %span CEO, Author.Inc
    /           .each-client-item
    /             .mh-client-item.dark-bg.black-shadow-1
    /               %img.img-fluid{alt: "", src: "assets/images/c-1.png"}/
    /               %p
    /                 Absolute wonderful ! I am completely
    /                 blown away.The very best.I was amazed
    /                 at the quality
    /               %h4 John Mike
    /               %span CEO, Author.Inc
    /           .each-client-item
    /             .mh-client-item.dark-bg.black-shadow-1
    /               %img.img-fluid{alt: "", src: "assets/images/c-1.png"}/
    /               %p
    /                 Absolute wonderful ! I am completely
    /                 blown away.The very best.I was amazed
    /                 at the quality
    /               %h4 John Mike
    /               %span CEO, Author.Inc
    /           .each-client-item
    /             .mh-client-item.dark-bg.black-shadow-1
    /               %img.img-fluid{alt: "", src: "assets/images/c-1.png"}/
    /               %p
    /                 Absolute wonderful ! I am completely
    /                 blown away.The very best.I was amazed
    /                 at the quality
    /               %h4 John Mike
    /               %span CEO, Author.Inc
    /
      \===================
      FOOTER 1
      \===================
    %footer#mh-contact.mh-footer
      .map-image.image-bg
        .container
          .row.section-separator
            .col-sm-12.section-title.wow.fadeInUp{"data-wow-delay" => "0.2s", "data-wow-duration" => "0.8s"}
              %h3 Contact Me
            .col-sm-12.mh-footer-address
              .row
                .col-sm-12.col-md-4
                  %a{href: "https://www.linkedin.com/in/tommy-joa-174859169/", target: "_blank"}
                    .mh-address-footer-item.dark-bg.shadow-1.wow.fadeInUp{"data-wow-delay" => "0.3s", "data-wow-duration" => "0.8s"}
                      .each-icon
                        %i.fa.fa-linkedin
                      .each-info
                        %h4 Linkedin
                        
                .col-sm-12.col-md-4
                  %a{href: "mailto:tommywj5@gmail.com", target: "_blank"} 
                    .mh-address-footer-item.dark-bg.shadow-1.wow.fadeInUp{"data-wow-delay" => "0.5s", "data-wow-duration" => "0.8s"}
                      .each-icon
                        %i.fa.fa-envelope-o
                      .each-info
                        %h4 Email
                .col-sm-12.col-md-4
                  .mh-address-footer-item.dark-bg.shadow-1.wow.fadeInUp{"data-wow-delay" => "0.7s", "data-wow-duration" => "0.8s"}
                    .each-icon
                      %i.fa.fa-phone
                    .each-info
                      / %a{href: "callto:(507)-6483-6002", target: "_blank"}
                      %h4 +507 6483 6002 
                .col-sm-12.col-md-4
                  %a{href: "https://github.com/tommyjoawu", target: "_blank"}
                    .mh-address-footer-item.dark-bg.shadow-1.wow.fadeInUp{"data-wow-delay" => "1s", "data-wow-duration" => "0.8s"}
                      .each-icon
                        %i.fa.fa-github
                      .each-info
                        %h4 Github
                .col-sm-12.col-md-4
                  .mh-address-footer-item.dark-bg.shadow-1.wow.fadeInUp{"data-wow-delay" => "1s", "data-wow-duration" => "0.8s"}
                    .each-icon
                      %i.fa.fa-whatsapp
                    .each-info
                      %a{href: "https://wa.me/50764836002", target: "_blank"} 
                        %h4 Whatsapp
                      / %br/
                      / %a{href: "callto:(880)-8976-987"} (880)-8976-987
            / .col-sm-12.col-md-6.wow.fadeInUp{"data-wow-delay" => "0.3s", "data-wow-duration" => "0.8s"}
            /   %form#contactForm.single-form.quate-form.wow.fadeInUp{"data-toggle" => "validator"}
            /     #msgSubmit.h3.text-center.hidden
            /     .row
            /       .col-md-6.col-sm-12
            /         %input#name.contact-name.form-control{name: "name", placeholder: "First Name", required: "", type: "text"}/
            /       .col-md-6.col-sm-12
            /         %input#L_name.contact-email.form-control{name: "name", placeholder: "Last Name", required: "", type: "text"}/
            /       .col-sm-12
            /         %input#email.contact-subject.form-control{name: "name", placeholder: "Your Email", required: "", type: "email"}/
            /       .col-sm-12
            /         %textarea#message.contact-message{placeholder: "Your Message", required: "", rows: "6"}
            /       / Subject Button
            /       .btn-form.col-sm-12
            /         %button#form-submit.btn.btn-fill.btn-block{type: "submit"} Send Message
            / .col-sm-12.col-md-6.wow.fadeInUp{"data-wow-delay" => "0.5s", "data-wow-duration" => "0.8s"}
            /   .mh-map
            /     #mh-map.shadow-1
            / .col-sm-12.mh-copyright.wow.fadeInUp{"data-wow-delay" => "0.3s", "data-wow-duration" => "0.8s"}
            /   .row
            /     / .col-sm-6
            /     /   .text-left.text-xs-center
            /     /     %p All right reserved Siful Islam @ 2018
            /     .col-sm-12
            /       %ul.social-icon
            /         %li
            /           %a{href: ""}
            /             %i.fa.fa-facebook
            /         %li
            /           %a{href: ""}
            /             %i.fa.fa-twitter
            /         %li
            /           %a{href: ""}
            /             %i.fa.fa-github
            /         %li
            /           %a{href: ""}
            /             %i.fa.fa-dribbble
    /
      \==============
      * JS Files *
      \==============
    / jQuery first, then Popper.js, then Bootstrap JS
    / jQuery
    %script{src: "assets/plugins/js/jquery.min.js"}
    / popper
    %script{src: "assets/plugins/js/popper.min.js"}
    / bootstrap
    %script{src: "assets/plugins/js/bootstrap.min.js"}
    / owl carousel
    %script{src: "assets/plugins/js/owl.carousel.js"}
    / validator
    %script{src: "assets/plugins/js/validator.min.js"}
    / wow
    %script{src: "assets/plugins/js/wow.min.js"}
    / mixin js
    %script{src: "assets/plugins/js/jquery.mixitup.min.js"}
    / circle progress
    %script{src: "assets/plugins/js/circle-progress.js"}
    / jquery nav
    %script{src: "assets/plugins/js/jquery.nav.js"}
    / Fancybox js
    %script{src: "assets/plugins/js/jquery.fancybox.min.js"}
    / isotope js
    %script{src: "assets/plugins/js/isotope.pkgd.js"}
    %script{src: "assets/plugins/js/packery-mode.pkgd.js"}
    / Map api
    %script{src: "http://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCRP2E3BhaVKYs7BvNytBNumU0MBmjhhxc"}
    / Custom Scripts
    %script{src: "assets/js/map-init.js"}
    %script{src: "assets/js/custom-scripts.js"}